<% layout("layouts/boilerplate")-%>
<br />
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit The Required Line</h3>
    <form
      action="/listings/<%=listing._id%>?_method=put"
      method="post"
      novalidate
      class="naad-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          value="<%=listing.title%>"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" id="desc" class="form-control" required>
<%=listing.description%></textarea
        >
        <div class="invalid-feedback">Description should be valid!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image link/URL</label>
        <input
          type="text"
          value="<%=listing.image%>"
          name="listing[image]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid link!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="Price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid amount!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            value="<%=listing.country%>"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter country name!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          value="<%=listing.location%>"
          name="listing[location]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter your location!</div>
      </div>
      <button class="btn btn-dark add-btn">Edit</button>
    </form>
    <br /><br /><br />
  </div>
</div>
